

ul.search-bar-suggestions {position: absolute; background-color: white;list-style-type: none;}

textarea.error{border: 2px solid #f00;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li.active {
  color:#06b9a7;
  font-size:25px;
  font-weight:500;
}

li.non-active {
  color:#06b9a7;
  font-size:25px;
}

.container-fluid {
  padding:40px;
  margin: 0;

}

body {
  font-family:"canada-type-gibson", sans-serif;
}

b {
  font-weight:500;
}

.right {
  margin-top:100px;
  margin-left: 10%;
}

.deltas-conditionals{
  background-color:#f5f6f6;
  padding:30px;
}

.deltas-conditionals .btn{

  background-color:white;
}
.deltas-conditionals .btn:hover{

  background-color:#e7e7e7;
}


.left {
  margin-bottom:30px;
  padding-left:50px;

}

#tables{
  padding: 20px;
  background-color:white;
  margin:0;
  width:40%;
  }

ul{
    background-color:#e7e7e7;
    width:100%;
  }


h1{
  background-color: #fff;
  font-size:30px;
  color:#616161;
}

h2{
  color:#06b9a7;
  font-size:25px;
}

h3{
  color:#06b9a7;
  font-size:20px;
}

.search-bar-input{
  background-color:#e7e7e7;
  box-shadow:none;
  border:none;
  height: 30px;
  width:150px;
  padding:5px;
}

.search-bar-submit{
  background-color:#cbcbcb;
  border:none;
  box-shadow:none;
  height:30px;
  color:white
  padding:5px;
  margin-left:5px;
}

.btn{
  border:none;
  border-radius:0;
  background-color:#f5f6f6;
  margin-right:5px;
  margin-bottom:5px;
}

.btn:hover{
  background-color:#dbdada;
}

.btn:active{
  background-color:#dbdada;
}


.search-bar{
  margin-top:40px;
  margin-bottom:30px;

}

.edit-value{
  width:75% !important;
  height:200px !important;
  background-color:#f5f6f6;
  border:none;
  padding:10px;
  font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}

#document-edits {
  background-color:#f5f6f6;
  border:none;
  padding:15px;
  max-height:200px;
  max-width:75%;
  overflow: auto;
}

.document-edits .btn{

  background-color:white;
}
#document-edits .btn:hover{

  background-color:#e7e7e7;
}

#content2 h1{
  color:#06b9a7;
  font-size:25px;
}

pre{
  border:none;
  border-radius:0;
  background-color:#f5f6f6;
  margin-bottom:50px;
  width:75%;
}

.subtext{
  color:#9a9a9a;
}